@{
    var ModelCategories = ViewBag.Categories as List<ResultCategoryDto>;
    var ModelProducts = ViewBag.Products as List<ResultProductWithCategoryDto>;
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeaderComponentPartial")

<body class="sub_page">

    @await Component.InvokeAsync("_MenuNavbarComponentPartial")

    <!-- food section -->

    <section class="food_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Ürünler
                </h2>
            </div>
            <ul class="filters_menu">
                <li class="active" data-filter="*">Hepsi</li>
                @foreach (var category in ModelCategories!)
                {
                    <li data-filter=".@category.CategoryName!.ToLower()">@category.CategoryName</li>
                }
            </ul>

            <div class="filters-content">
                <div class="row grid">
                    @foreach (var product in ModelProducts!)
                    {
                        <div class="col-sm-6 col-lg-4 all @product.CategoryName!.ToLower()">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="@product.ImageUrl" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            @product.ProductName
                                        </h5>
                                        <p>
                                            @product.Description
                                        </p>
                                        <div class="options">
                                            <h6>
                                                @product.Price.ToString("0.00") ₺
                                            </h6>
                                            <a href="javascript:void(0)" onclick="showProductID(@product.ProductID, `@product.ProductName`, @product.Price)">
                                                <i class="fa fa-shopping-cart text-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="btn-box">
                <a href="/Baskets/Index/">
                    Sepete Git
                </a>
            </div>
        </div>
    </section>

    <!-- end food section -->
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

    <script>
        function showProductID(productID, productName, productPrice){
            let basketJSON = {price: productPrice, 
                count: 1, 
                totalPrice: productPrice, 
                productID: productID,
                menuTableID: 4};
                
            $.ajax({
                type: 'POST',
                url: '/Menu/AddBasket/',
                data: JSON.stringify(basketJSON),
                contentType: 'application/json',
                success: function () {
                    swal("Ürün Sepete Eklendi", productName + " ürünü sepetinize başarılı bir şekilde eklendi.", "success", { button: "Tamam", });
                },
                error: function () {
                    swal("Hata", "Ürün sepete eklenirken bir hata oluştu.", "error", { button: "Tamam", });
                },
            });
        }
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>
